In [1]:
import pandas as pd
Data=pd.read_csv("shots_data.csv")
Data['Distance']=(Data.x**2+Data.y**2)**.5
Data['Corner_Y']=(Data.y<=7.8).astype(int)
Data['Corner_Dist']=(Data.Distance>=22).astype(int)
Data['C3']=(Data.Corner_Y+Data.Corner_Dist==2).astype(int)
Data['Non_Corner_Dist']=(Data.Distance>=23.75).astype(int)
Data['NC3']=((Data.Non_Corner_Dist-Data.C3)>0).astype(int)
Data['TwoPT']=1-Data.C3-Data.NC3

Data['C3_Make']=((Data.fgmade+Data.C3-1)>0).astype(int)
Data['NC3_Make']=((Data.fgmade+Data.NC3-1)>0).astype(int)
Data['TwoPT_Make']=((Data.fgmade+Data.TwoPT-1)>0).astype(int)

Data.drop(['Distance','Corner_Y', 'Corner_Dist','Non_Corner_Dist'], axis=1, inplace=True)
#Data

In [2]:
Team_A=Data.loc[Data['team'] == 'Team A']
ShotData_A=Team_A.sum(axis=0)
ShotData_A.drop(labels=['team','x','y'], inplace=True)
Shot_Total_A=len(Team_A)
Shot_Make_Total_A=ShotData_A[0]
C3_Attempt_A=ShotData_A[1]
NC3_Attempt_A=ShotData_A[2]
TwoPt_Attempt_A=ShotData_A[3]
C3_Make_A=ShotData_A[4]
NC3_Make_A=ShotData_A[5]
TwoPt_Make_A=ShotData_A[6]

Shot_Distribution_A = {'C3':  [C3_Attempt_A/Shot_Total_A],'NC3': [NC3_Attempt_A/Shot_Total_A],'TwoPT': [TwoPt_Attempt_A/Shot_Total_A]}
Shot_Distribution_A = pd.DataFrame(Shot_Distribution_A)
Shot_Distribution_A

         C3       NC3     TwoPT
0  0.071429  0.321429  0.607143

In [3]:
eFG_C3_A=(C3_Make_A)*1.5/(C3_Attempt_A)
eFG_NC3_A=(NC3_Make_A)*1.5/(NC3_Attempt_A)
eFG_TwoPT_A=(TwoPt_Make_A)/(TwoPt_Attempt_A)
eFG_Overall_A=(TwoPt_Make_A+(C3_Make_A+NC3_Make_A)*1.5)/(Shot_Total_A)

eFG_A = {'C3 eFG':  [eFG_C3_A],'NC3 eFG': [eFG_NC3_A],'TwoPT eFG': [eFG_TwoPT_A],'Overall eFG':[eFG_Overall_A]}
eFG_A = pd.DataFrame(eFG_A)
eFG_A

   C3 eFG   NC3 eFG  TwoPT eFG  Overall eFG
0     0.6  0.483333        0.4     0.441071

In [4]:
Team_B=Data.loc[Data['team'] == 'Team B']
ShotData_B=Team_B.sum(axis=0)
ShotData_B.drop(labels=['team','x','y'], inplace=True)
Shot_Total_B=len(Team_B)
Shot_Make_Total_B=ShotData_B[0]
C3_Attempt_B=ShotData_B[1]
NC3_Attempt_B=ShotData_B[2]
TwoPt_Attempt_B=ShotData_B[3]
C3_Make_B=ShotData_B[4]
NC3_Make_B=ShotData_B[5]
TwoPt_Make_B=ShotData_B[6]

Shot_Distribution_B = {'C3':  [C3_Attempt_B/Shot_Total_B],'NC3': [NC3_Attempt_B/Shot_Total_A],'TwoPT': [TwoPt_Attempt_B/Shot_Total_B]}
Shot_Distribution_B = pd.DataFrame(Shot_Distribution_B)
Shot_Distribution_B

      C3       NC3     TwoPT
0  0.075  0.342857  0.582143

In [5]:
eFG_C3_B=(C3_Make_B)*1.5/(C3_Attempt_B)
eFG_NC3_B=(NC3_Make_B)*1.5/(NC3_Attempt_B)
eFG_TwoPT_B=(TwoPt_Make_B)/(TwoPt_Attempt_B)
eFG_Overall_B=(TwoPt_Make_B+(C3_Make_A+NC3_Make_B)*1.5)/(Shot_Total_B)

eFG_B = {'C3 eFG':  [eFG_C3_B],'NC3 eFG': [eFG_NC3_B],'TwoPT eFG': [eFG_TwoPT_B],'Overall eFG':[eFG_Overall_B]}
eFG_B = pd.DataFrame(eFG_B)
eFG_B

     C3 eFG   NC3 eFG  TwoPT eFG  Overall eFG
0  0.357143  0.546875   0.460123     0.498214